/*TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    
    /* Palette URL: http://paletton.com/#uid=43t0u0kcPNA2XZT7+V3hdDMlauP */

    --color-primary-0: #86BBD8;	/* Main Primary color */
    --color-primary-1: #E6F4FC;
    --color-primary-2: #B6DAEE;
    --color-primary-3: #5C9ABB;
    --color-primary-4: #3A7A9C;

    --color-secondary-1-0: #FFE399;	/* Main Secondary color (1) */
    --color-secondary-1-1: #FFF9E8;
    --color-secondary-1-2: #FFEEBF;
    --color-secondary-1-3: #FFDA76;
    --color-secondary-1-4: #F6C953;

    --color-secondary-2-0: #FFB099;	/* Main Secondary color (2) */
    --color-secondary-2-1: #FFEDE8;
    --color-secondary-2-2: #FFCEBF;
    --color-secondary-2-3: #FF9576;
    --color-secondary-2-4: #F67853;

    --color-complement-0: #FFD099;	/* Main Complement color */
    --color-complement-1: #FFF4E8;
    --color-complement-2: #FFE2BF;
    --color-complement-3: #FFC076;
    --color-complement-4: #F6AB53;

}

/* RESPONSIVIDAD */

.row{
    display: grid;
    gap: 10px
}

/* Grande - Computadoras y TV */
    .col-1 {grid-template-columns: repeat(1, 1fr);}
    .col-2 {grid-template-columns: repeat(2, 1fr);}
    .col-3 {grid-template-columns: repeat(3, 1fr);}
    .col-4 {grid-template-columns: repeat(4, 1fr);}
    .col-5 {grid-template-columns: repeat(5, 1fr);}
    .col-6 {grid-template-columns: repeat(6, 1fr);}
    .col-7 {grid-template-columns: repeat(7, 1fr);}
    .col-8 {grid-template-columns: repeat(8, 1fr);}
    .col-9 {grid-template-columns: repeat(9, 1fr);}
    .col-10 {grid-template-columns: repeat(10, 1fr);}
    .col-11 {grid-template-columns: repeat(11, 1fr);}
    .col-12 {grid-template-columns: repeat(12, 1fr);}

/* Mediano - Tablets */
@media screen and (max-width: 992px) {
    .col-md-1 {grid-template-columns: repeat(1, 1fr);}
    .col-md-2 {grid-template-columns: repeat(2, 1fr);}
    .col-md-3 {grid-template-columns: repeat(3, 1fr);}
    .col-md-4 {grid-template-columns: repeat(4, 1fr);}
    .col-md-5 {grid-template-columns: repeat(5, 1fr);}
    .col-md-6 {grid-template-columns: repeat(6, 1fr);}
    .col-md-7 {grid-template-columns: repeat(7, 1fr);}
    .col-md-8 {grid-template-columns: repeat(8, 1fr);}
    .col-md-9 {grid-template-columns: repeat(9, 1fr);}
    .col-md-10 {grid-template-columns: repeat(10, 1fr);}
    .col-md-11 {grid-template-columns: repeat(11, 1fr);}
    .col-md-12 {grid-template-columns: repeat(12, 1fr);}
}

/* Pequeño - Celulares */
@media screen and (max-width: 576px) {
    .col-sm-1 {grid-template-columns: repeat(1, 1fr);}
    .col-sm-2 {grid-template-columns: repeat(2, 1fr);}
    .col-sm-3 {grid-template-columns: repeat(3, 1fr);}
    .col-sm-4 {grid-template-columns: repeat(4, 1fr);}
    .col-sm-5 {grid-template-columns: repeat(5, 1fr);}
    .col-sm-6 {grid-template-columns: repeat(6, 1fr);}
    .col-sm-7 {grid-template-columns: repeat(7, 1fr);}
    .col-sm-8 {grid-template-columns: repeat(8, 1fr);}
    .col-sm-9 {grid-template-columns: repeat(9, 1fr);}
    .col-sm-10 {grid-template-columns: repeat(10, 1fr);}
    .col-sm-11 {grid-template-columns: repeat(11, 1fr);}
    .col-sm-12 {grid-template-columns: repeat(12, 1fr);}
}

body > header{
    background-image: linear-gradient(var(--color-primary-0), var(--color-primary-4));
    padding: 32px 0 32px 0;
    margin-bottom: 32px;
    text-align: center;
    color: var(--color-complement-1);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.virus{
    min-width: 128px;
    min-height: 128px;
    background-image: url(coronavirus.png);
    background-size: contain;
    position: absolute;
    top:0px;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 100;
}

body > header h1, p {
    position: relative;
    z-index: 30000;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.virus-left{
    top: 0px;
    left: 25px;
}

.virus-right{
    top: 0px;
    left: calc(100% - 153px);
}

/* Pequeño - Celulares */
@media screen and (max-width: 576px) {
    .virus-right{
        display: none;
    }

    .virus-left{
        position: static;
        max-width: 64px;
        margin: auto;
    }
}

article{
    /*border: solid 1px black; padding: 6px;*/
    background-color: var(--color-primary-4);
    border-radius: 1em;
    box-shadow: 5px 5px 5px var(--color-primary-4);
}

article header{
    color: var(--color-complement-2);
}

article main{
    color: var(--color-secondary-2-1);
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body > footer{
    background-image: linear-gradient(var(--color-primary-4), var(--color-primary-0));
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--color-complement-1);
    width: 100%;
    height: fit-content;
}

body > footer> section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > footer> section > form{
    text-align: left;
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
}

body > footer > section > form > * {
    border-radius: 5px;
    margin: 5px;
    line-height: 1.75 em;
}

/** CHARTS **/
#container {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table { 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
